#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hex {
  margin-left: 3px;
  margin-bottom: -26px;
}
.hex .top {
  width: 0;
  border-bottom: 30px solid gray;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hex .middle {
  width: 104px;
  height: 60px;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hex .bottom {
  width: 0;
  border-top: 30px solid gray;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hex-inner {
  zoom: 90%;
  z-index: 1;
  float: left;
}
.hex-inner .top {
  width: 0;
  border-bottom: 30px solid whitesmoke;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hex-inner .middle {
  width: 104px;
  height: 60px;
  background: whitesmoke;
}
.hex-inner .bottom {
  width: 0;
  border-top: 30px solid whitesmoke;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hex-inner .top.active {
  border-bottom: 30px solid lightgoldenrodyellow;
}
.hex-inner .middle.active {
  background: lightgoldenrodyellow;
}
.hex-inner .bottom.active {
  border-top: 30px solid lightgoldenrodyellow;
}

.hex-inner .top.highlighted-0 {
  border-bottom: 30px solid lightskyblue;
}
.hex-inner .middle.highlighted-0 {
  background: lightskyblue;
}
.hex-inner .bottom.highlighted-0 {
  border-top: 30px solid lightskyblue;
}

.hex-inner .top.highlighted-1 {
  border-bottom: 30px solid lightgreen;
}
.hex-inner .middle.highlighted-1 {
  background: lightgreen;
}
.hex-inner .bottom.highlighted-1 {
  border-top: 30px solid lightgreen;
}

.hex-inner .top.highlighted-2 {
  border-bottom: 30px solid rgba(144, 238, 144, 0.95);
}
.hex-inner .middle.highlighted-2 {
  background: rgba(144, 238, 144, 0.95);
}
.hex-inner .bottom.highlighted-2 {
  border-top: 30px solid rgba(144, 238, 144, 0.95);
}

.hex-inner .top.highlighted-3 {
  border-bottom: 30px solid rgba(144, 238, 144, 0.90);
}
.hex-inner .middle.highlighted-3 {
  background: rgba(144, 238, 144, 0.90);
}
.hex-inner .bottom.highlighted-3 {
  border-top: 30px solid rgba(144, 238, 144, 0.90);
}

.hex-inner .top.highlighted-4 {
  border-bottom: 30px solid rgba(144, 238, 144, 0.85);
}
.hex-inner .middle.highlighted-4 {
  background: rgba(144, 238, 144, 0.85);
}
.hex-inner .bottom.highlighted-4 {
  border-top: 30px solid rgba(144, 238, 144, 0.85);
}

.hex-inner .top.highlighted-5 {
  border-bottom: 30px solid rgba(144, 238, 144, 0.80);
}
.hex-inner .middle.highlighted-5 {
  background: rgba(144, 238, 144, 0.80);
}
.hex-inner .bottom.highlighted-5 {
  border-top: 30px solid rgba(144, 238, 144, 0.80);
}

.hex-inner .top.highlighted-6 {
  border-bottom: 30px solid rgba(144, 238, 144, 0.75);
}
.hex-inner .middle.highlighted-6 {
  background: rgba(144, 238, 144, 0.75);
}
.hex-inner .bottom.highlighted-6 {
  border-top: 30px solid rgba(144, 238, 144, 0.75);
}

.hex-inner .top.highlighted-7 {
  border-bottom: 30px solid rgba(144, 238, 144, 0.70);
}
.hex-inner .middle.highlighted-7 {
  background: rgba(144, 238, 144, 0.70);
}
.hex-inner .bottom.highlighted-7 {
  border-top: 30px solid rgba(144, 238, 144, 0.70);
}

.hex-inner .top.highlighted-8 {
  border-bottom: 30px solid rgba(144, 238, 144, 0.65);
}
.hex-inner .middle.highlighted-8 {
  background: rgba(144, 238, 144, 0.65);
}
.hex-inner .bottom.highlighted-8 {
  border-top: 30px solid rgba(144, 238, 144, 0.65);
}

.hex-inner .top.highlighted-9 {
  border-bottom: 30px solid rgba(144, 238, 144, 0.60);
}
.hex-inner .middle.highlighted-9 {
  background: rgba(144, 238, 144, 0.60);
}
.hex-inner .bottom.highlighted-9 {
  border-top: 30px solid rgba(144, 238, 144, 0.60);
}

.hex-inner .top.highlighted-10 {
  border-bottom: 30px solid rgba(144, 238, 144, 0.55);
}
.hex-inner .middle.highlighted-10 {
  background: rgba(144, 238, 144, 0.55);
}
.hex-inner .bottom.highlighted-10 {
  border-top: 30px solid rgba(144, 238, 144, 0.55);
}

.hex-inner .top.highlighted-11 {
  border-bottom: 30px solid rgba(144, 238, 144, 0.50);
}
.hex-inner .middle.highlighted-11 {
  background: rgba(144, 238, 144, 0.50);
}
.hex-inner .bottom.highlighted-11 {
  border-top: 30px solid rgba(144, 238, 144, 0.50);
}

.hex-inner .top.highlighted-12 {
  border-bottom: 30px solid rgba(144, 238, 144, 0.45);
}
.hex-inner .middle.highlighted-12 {
  background: rgba(144, 238, 144, 0.45);
}
.hex-inner .bottom.highlighted-12 {
  border-top: 30px solid rgba(144, 238, 144, 0.45);
}

.hex-row {
  clear: left;
  white-space: nowrap;
  display: flex;
}
.hex-row.right {
  margin-left: 53px;
}
.hex-row.left {
  margin-left: -53px;
}
.hex-input {
  width: 100%;
  text-align: center;
  font-size: 60px;
  border: none;
  background: none;
}
.crossword-container {
  white-space: nowrap;
}
.header {
  margin-bottom: 10px;
}
.regex-list {
  column-count: 3;
  font-size: 25px;
  font-weight: bold;
}
.regex-content {
  background: lightgray;
  font-family:'Courier New', Courier, monospace;
}
.regex-extracted {
  margin-left: 1rem;
  color: #333;
  font-family:'Courier New', Courier, monospace;
}
.regex-active {
  background: rgba(100,220,30,0.4);
}
span.regex-input-char:nth-child(5n+1) {
  background: lightpink;
}
span.regex-input-char:nth-child(5n+2) {
  background: lightskyblue;
}
span.regex-input-char:nth-child(5n+3) {
  background: lightgreen;
}
span.regex-input-char:nth-child(5n+4) {
  background: lightsteelblue;
}
span.regex-input-char:nth-child(5n+5) {
  background: gold;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #fff;
  }
  .hex-inner .top {
    border-bottom: 30px solid #333;
  }
  .hex-inner .middle {
    background: #333;
  }
  .hex-inner .bottom {
    border-top: 30px solid #333;
  }
  .regex-content {
    background: darkblue;
  }
}
